* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#box{
    height: 500px;
    width: 500px;
    background-color: crimson;
}

#inner{
    height: 50vh;
    width: 50vw;
    background-color: rgb(233, 65, 182);
}

h1{
    font-size: 6vmax; /* vw > vh ; vmax(whether height is large or width) and vmin vice versa*/
}

#parent{
    background-color: #dadada;
    width: 60%;
    font-size: 7vmax;
}

h1{
    font-size: 1.25em;
}
h2{
    font-size: 1em;
}
h3{
    font-size: 0.75em;
} 


